.??*.swp
.vagrant
share/.??*.swp
share/backups
share/software/puppet/*.tar.gz
share/software/puppet/puppet-enterprise-*
share/software/vagrant/*.dmg
share/software/vagrant/*.msi
share/software/vagrant/*.rpm
share/software/docker/*.dmg
share/software/docker/*.msi
share/software/virtualbox/5.0.??-??????/
virtualbox-shared/.??*.swp
virtualbox-shared/backups
virtualbox-shared/software/puppet-enterprise/*.tar.gz
virtualbox-shared/software/puppet-enterprise/puppet-enterprise-*
virtualbox-shared/software/vagrant/*.dmg
virtualbox-shared/software/vagrant/*.msi
virtualbox-shared/software/vagrant/*.rpm
virtualbox-shared/software/virtualbox/5.0.??-??????/
gitlab
